.barbarian {
    color: #A15818 !important;
}

.demon-hunter {
    color: #A10606 !important;
}

.monk {
    color: #CCDE0B !important;
}

.witch-doctor {
    color: #18AD45 !important;
}

.wizard {
    color: #1A83B8 !important;
}

.crusader {
    color: #EDB211 !important;
}

.paragon {
    color: #99DDFF !important;
}

.hardcore {
    color: #ff0000 !important;
}

.softcore {
    color: #ffffff !important;
}