@import "bootstrap.scss";

$margin: 10px;
$small-margin: 5px;

body {
  padding-top: 0px;
}

.navbar {
  margin-bottom: 0px;
}

.page-header {
  margin: $margin 0 $margin;
  border-bottom: 1px solid #333333;
}

.navbar-form {
  -webkit-box-shadow: none;
  box-shadow: none;
}