body {
  padding-top: 30px;
  overflow-y: scroll; }

a {
  color: #FF8B26; }

.home-index .pager {
  margin: 5px 0; }
.home-index table td:nth-child(1) {
  width: 15px; }
.home-index table td:nth-child(3) {
  width: 150px; }
.home-index .fade-in.ng-enter,
.home-index .fade-in.ng-leave {
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all; }
.home-index .fade-in.ng-enter,
.home-index .fade-in.ng-leave.ng-leave-active {
  opacity: 0.1; }
.home-index .fade-in.ng-leave,
.home-index .fade-in.ng-enter.ng-enter-active {
  opacity: 1; }
